#choix-redaction{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10vh);
}

.choix-mode{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin: 5%;
  padding: 5%;
  border: 1px solid #eee;
  border-radius: 6px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  width: 15vw;
  height: 15vw;
}

#ecrire-cours{
  background: linear-gradient(45deg, rgb(98, 186, 37), rgb(79, 148, 31));
}

#importer-cours{
  background: linear-gradient(45deg, rgb(56, 173, 204), rgb(34, 157, 164));
}

.choix-mode i{
  font-size: 25vh;
  color: #fff;
  margin: 5px;
}
